@media (max-width: 425px) {
  main {
    height: 100vh;
    flex-direction: column;
    padding: 10px;
  }

  .conteudo {
    margin-right: 0;
  }

  .conteudo h2 {
    font-size: 25px;
  }

  .conteudo p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

}
